/* CLASS ATTRIBUTES HAVE A (.) BEFORE THEM*/
/* ID ATTRIBUTES HAVE A (#) BEFORE THEM*/

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* THIS IS MAKING THE HEADER ATTACHED TO THE TOP OF THE SCREEN */
header { 
    position: fixed;
    top: 0;
    background-color: beige;
    width: 100%;
    text-align: center;
    border: 5px solid burlywood;
    z-index: 2;
}

body {
    background-color: rgb(243, 217, 183);
}

.li-1 {
    display: inline;
    font-size: 20px;
    margin: 70px;  
    background-color: burlywood;
    
}

li {
    display: inline;
    padding: 0px 60px;
    text-decoration: none;
    font-weight: bolder;
  }

section {
    position: relative;
    top: 150px;
    text-align: center;
}

img {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 10px solid black;
  }

#text-center {
    font-size: 60px;
    text-align: center;
    }

footer {
    background-color: beige;
    border: 5px solid burlywood;
    width: 100%;
    position: relative;
    top: 300px;
    text-align: center;
    height: 50px;
}

/* THIS IS THE STYLING FOR THE NAME AN EMAIL AND BUTTON */
form {
    margin: 0 auto;
    width: 500px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 20px;
}

button {
    height: 40px;
    width: 120px;
    background-color: #4F4846;
    color: #FDF8F5;
  }

 